<div class="container">
  <h2>Sales Table</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Sales-Id</th>
        <th>Sales Date</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Sales Price</th>
        <th>Product-Id</th>
      </tr>
    </thead>
    <tbody>
      {{#sales}}
        <tr>
          <td>{{sales_id}}</td>
          <td>{{Sales_date}}</td>
          <td>{{product_name}}</td>
          <td>{{quantity}}</td>
          <td>{{sales_price}}</td>
          <td>{{product_id}}</td>
        </tr>
      {{/sales}}
    </tbody>
  </table>
</div>

</body>
