<h1>Add sales</h1>

<form action="/sales/add" method="POST">
	<div class="">
		<label for="">Product</label>
		<select class="" name="product_id">
			{{#products}}
				<option value="{{product_id}}">{{product_name}}</option>
			{{/products}}
		</select>
	</div>
  <div>
<label for="">Date</label>
<input type="datetime-local" name="Sales_date" value="{{Sales_date}}">
</div>
  <label for="">Quantity</label>
  <input type="number" name="quantity" value="{{quantity}}">
	</div>
  <div>
<label for="">Price</label>
<input type="number" name="sales_price" value="{{sales_price}}">
</div>
<!-- <div>
<label for="">Product Id</label>
<input type="number" name="product_id" value="{{product_id}}">
</div> -->

	<input type="submit">
</form>
