<h1>Add Purchases</h1>
 <p id='warning'>{{messages.warning}}</p>
<form action="/purchases/add" method="POST">
	{{#if is_admin}}
	<div class="">
		<label for="">Product</label>
		<select class="" name="product_id">
			{{#products}}
				<option value="{{product_id}}">{{product_name}}</option>
			{{/products}}
		</select>
	</div>
	{{/if}}
	<div>
		<label for="">Shop Name</label>
		<input type="text" name="shopName" value="{{purchaseData.shopName}}">
	</div>
	<div>
		<label for="">Date</label>
		<input type="date" name="purchase_date" value="{{purchaseData.purchase_date}}">
	</div>
	<div>
		<label for="">Quantity</label>
		<input type="number" name="quantity" value="{{purchaseData.quantity}}">
	</div>
	<div>
		<label for="">Price each</label>
		<input type="number" name="cost" value="{{purchaseData.purchaseDatacost}}">
	</div>
	<input type="submit">
</form>
