<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        {{#if is_admin}}<th>Admin Options</th>
    <a href="/categories/add">Add</a>
    {{else}}
    <a href=""></a>
    {{/if}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#categories}}
        <td>{{category_id}}</td>
        <td>{{category_name}}</td>
        {{#if ../is_admin}}
        <td>
          <a href="/categories/edit/{{category_id}}">Edit</a>
          <a href="/categories/delete/{{category_id}}">Delete</a>
        </td>
        {{else}}
        <td></td>
        {{/if}}
        </tr>
        {{/categories}}
    </tbody>
  </table>
</div>
