<h1>Edit purchases</h1>

<form action="/purchases/update/{{data.purchase_id}}" method="POST">

	<div class="">
		<label for="">Product</label>
		<select class="" name="product_id">
			{{#products}}
				<option {{selected}} value="{{product_id}}">{{product_name}}</option>
			{{/products}}
		</select>
	</div>
  <div>
    <label for="">Shop Name</label>
    <input type="text" name="shopName" value="{{data.shopName}}">
  </div>
  <div>
    <label for="">Date</label>
    <input type="date" name="purchase_date" value="{{data.purchase_date}}">
  </div>
  <div>
    <label for="">Quantity</label>
    <input type="number" name="quantity" value="{{data.quantity}}">
  </div>
  <div>
    <label for="">Price each</label>
    <input type="number" name="cost" value="{{data.cost}}">
  </div>
	<input type="submit">
</form>
