  <h2>Products Table</h2>
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What you looking for?">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <a href="/products/add">Add a new product</a>
      <th class="col-md-2 col-xs-2">Product-Id</th>
      <th class="col-md-5 col-xs-5">Product Name</th>
      <th class="col-md-3 col-xs-3">Category Name</th>
      {{#if is_admin}}<th class="col-md-2 col-xs-2"> Edit product</th>
      <th class="col-md-3 col-xs-3"> Delete product</th>{{/if}} 
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#products}}
      <td>{{product_id}}
      <td>{{product_name}}</td>
      <td>{{category_name}}</td>
      {{#if ../is_admin}}<td><a href="/products/edit/{{product_id}}">Edit</a></td>
        <td><a href="/products/delete/{{product_id}}">Delete</a></td>{{/if}}
      </tr>
      {{/products}}
  </tbody>
</table>
