<div class="container">
  <h2>Purchases Table</h2>
  {{#if user.is_admin}}  <a href="/purchases/add">Add new record</a>{{/if}}
  <table class="table">
    <thead>
      <tr>
        <th>Purchase-Id</th>
        <th>Shop Name</th>
        <th>Purchase Date</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>Product-Id</th>
      </tr>
    </thead>
    <tbody>
      {{#purchases}}
        <tr>
          <td>{{purchase_id}}</td>
          <td>{{shopName}}</td>
          <td>{{purchase_date}}</td>
          <td>{{product_name}}</td>
          <td>{{quantity}}</td>
          <td>{{cost}}</td>
          <td>{{product_id}}</td>
        {{#if user.is_admin}}  <td><a href="/purchases/edit/{{purchase_id}}">Edit</a>
          <a href="/purchases/delete/{{purchase_id}}">Delete</a>
      </td>  {{/if}}</tr>

      {{/purchases}}
    </tbody>
  </table>
</div>

</body>
