<h2>Purchases Table</h2>
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What you looking for?">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <a href="/purchases/add">Add a new purchase record</a>
      <th class="col-md-2 col-xs-2">Shop Name</th>
      <th class="col-md-2 col-xs-2">Purchase Date</th>
      <th class="col-md-3 col-xs-3">Product Name</th>
      <th class="col-md-1 col-xs-1">Quantity</th>
      <th class="col-md-1 col-xs-1">Cost</th>
      <th class="col-md-1 col-xs-1">Product-Id</th>
      {{#if is_admin}}<th class="col-md-2 col-xs-2">Edit record</th>
      <th class="col-md-2 col-xs-2">Delete record</th>
      {{/if}}
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#purchases}}
        <tr>
          <td>{{shopName}}</td>
          <td>{{purchase_date}}</td>
          <td>{{product_name}}</td>
          <td>{{quantity}}</td>
          <td>{{cost}}</td>
          <td>{{product_id}}</td>
        {{#if ../is_admin}}  <td><a href="/purchases/edit/{{purchase_id}}">Edit</a></td>
          <td><a href="/purchases/delete/{{purchase_id}}">Delete</a>
      </td>  {{/if}}</tr>

      {{/purchases}}
  </tbody>
</table>
