<h2>Sales Table</h2>
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What you looking for?">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th class="col-md-1 col-xs-1">Sales-Id</th>
      <th class="col-md-1 col-xs-1">Sales Date</th>
      <th class="col-md-3 col-xs-3">Product Name</th>
      <th class="col-md-1 col-xs-1">Quantity</th>
      <th class="col-md-1 col-xs-1">Sales Price</th>
      {{#if is_admin}}<th class="col-md-4 col-xs-4">Admin Options</th>{{/if}}
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#sales}}
      <td>{{sales_id}}
      <td>{{Sales_date}}</td>
      <td>{{product_name}}</td>
      <td>{{quantity}}</td>
      <td>{{sales_price}}</td>
      {{#if ../is_admin}}  <td><a href="/products/edit/{{product_id}}">Edit</a>
        <a href="/products/delete/{{product_id}}">Delete</a></td>{{/if}}
      </tr>
      {{/sales}}
  </tbody>
</table>
